---
layout: default
---
<div class='content'>
    {% include title.html text='Virtual CS Frontiers Summer Camps for High School Students' %}

    <div class='center'><a target='_blank' href='http://go.ncsu.edu/apply2csf'><div class='vibrant-button'>Click here to apply!</div></a></div>

    {% include title.html text='CS Frontiers Camp Topics' level='h2' topclasses='top-spaced' %}

    <h3>Internet of Things & Software Engineering</h3>
    <p>Experience working hands-on with internet-connected devices beyond your own computer by using our virtual robotics environment. The programming interface is identical regardless of whether the connected devices are physical or simulated. Use your own phones and tablets via the PhoneIoT app activity. What you create with the NetsBlox program will have full access to all the sensors on the phone and will even build a GUI on its screen. You will create engaging apps while learning the basics of networked sensing. In the second week you will work in teams, pitch a project idea, develop a program in sprints, and present your final product. You will also have the opportunity to hear talks from current computer scientists doing work in the field of IoT and Cybersecurity!</p>

    <h3>Artificial Intelligence & Software Engineering</h3>
    <p>Learn about how to find Twitter bots, do sentiment analysis on your favorite artists, and more! During this camp, you will learn about how computer scientists use various Artificial Intelligence techniques to analyze data. You will learn about the role Artificial Intelligence plays in our daily lives by looking at its influence on the criminal justice system and the environment. You will also have the opportunity to hear talks from current computer scientists doing work in the field of Artificial Intelligence!</p>

    <h3>Camp Format</h3>
    <p>When signing up for a camp, participants are expected to <strong>choose either AI or the Internet of Things as their starting topic</strong>. Each participant will also <strong>end their program with a week of Software Engineering</strong>. If participants would like to add in a third week with the remaining topic, requests will be accommodated based on space availability.</p>

    {% include title.html text='Summer 2022 Workshop Dates' level='h2' %}

    <div class='center'>
        <div class='iblock'>
            <table>
                <tr>
                    <th>July 11-15</th>
                    <th>July 18-22</th>
                    <th>July 25-29</th>
                    <th>Camp Topic</th>
                </tr>
                <tr>
                    <td>X</td>
                    <td>X</td>
                    <td></td>
                    <td>Artificial Intelligence</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>X</td>
                    <td></td>
                    <td>Internet of Things</td>
                </tr>
                <tr>
                    <td></td>
                    <td>X</td>
                    <td>X</td>
                    <td>Software Engineering</td>
                </tr>
            </table>
        </div>
    </div>

    <div class='center'>
        <div class='iblock'>
            <ul>
                <li>Camp timeframes are from 9 AM - 12 PM and 1 PM - 4 PM Eastern Standard Time</li>
                <li>Camps will be run in a <strong>synchronous online</strong> format on Zoom</li>
                <li>Selected campers will receive details about the virtual platform in their acceptance email</li>
            </ul>
        </div>
    </div>

    {% include title.html text='Who\'s Teaching?' level='h2' %}

    <p>Summer camps will be run by outstanding high school computer science teachers that have experience teaching the Advanced Placement Computer Science Principles course. There will also be graduate students from NC State and Vanderbilt University assisting you during the camp. See the teachers and project staff on our <a href='people.html'>People</a> page!</p>

    <div class='center'>
        <div class='iblock' style='width: 80%'>
            <p class='center'>All camps are FREE, but spots are limited!</p>
            <p class='center'>Applications are due by May 22, 2022. Applicants will be notified of acceptance by Jun 10, 2022.</p>
        </div>
    </div>

    <div class='center'><a target='_blank' href='http://go.ncsu.edu/apply2csf'><div class='vibrant-button'>Click here to apply!</div></a></div>
</div>
