---
layout: default
---
<div class='content'>
    {% include title.html text='CS Frontiers' %}

    <div class='center'>
        <div class='iblock' style='width: 75%'>
            {% include slideshow.html src='demo-slides' height='400px' %}
        </div>
    </div>
    <p>
        One of the core tools of CSF is the NetsBlox platform, an extension of Snap! that adds many powerful networking-related services that empower users to create complex internet-aware systems without needing any prior knowledge in the field. The slideshow above curates several published projects that are available on the <a href='https://netsblox.org/'>NetsBlox website</a>. Click on any slide to open and explore the project live.
    </p>
</div>