---
layout: default
---
<div class='content'>
    {% include title.html text='Faculty and Research Staff' %}
    {% include people-list.html src='faculty-research-staff' %}
</div>
<div class='content'>
    {% include title.html text='Graduate Students' %}
    {% include people-list.html src='grad-students' %}
</div>
<div class='content'>
    {% include title.html text='Undergraduate Students' %}
    {% include people-list.html src='undergrad-students' %}
</div>
<div class='content'>
    {% include title.html text='High School Teachers' %}
    {% include people-list.html src='high-school-teachers' %}
</div>