---
layout: default
---
<div class='content'>
    {% include title.html text='Faculty and Research Staff' %}

    <div class='hflex'>
        <div class='center flex-item'>
            {% include bioheader.html name='Akos Ledeczi' img='assets/images/akos-ledeczi.jpeg' %}
            <p class='center'>
                Ledeczi is a CS Professor at Vanderbilt University.
                He has been working on <a href='https://netsblox.org'>NetsBlox</a>, an extension that adds distributed computing capabilities and online collaboration to the Snap! environment for many years.
                He is also known for his highly popular <a href='https://www.coursera.org/learn/matlab'>introductory programming MOOC</a> on Coursera.
            </p>
        </div>
        <div class='center flex-item'>
            {% include bioheader.html name='Brian Broll' img='assets/images/brian-broll.jpeg' %}
            <p class='center'>
                Brian Broll is a Research Scientist at the Institute for Software Integrated Systems at Vanderbilt University.
                He holds a Ph.D. from Vanderbilt University in Computer Science and a B.Sc. from Buena Vista University, majoring in mathematics education.
                His research interests include computer science education and model integrated computing.
            </p>
        </div>
    </div>
</div>

<div class='content'>
    {% include title.html text='Graduate Students' %}

    <div class='hflex'>
        <div class='center flex-item'>
            {% include bioheader.html name='Gordon Stein' img='assets/images/gordon-stein.jpeg' %}
            <p class='center'>
                Gordon Stein is currently a PhD student at Vanderbilt University.
                Previously, he served as a Senior Lecturer at Lawrence Technological University, helping to improve introductory Computer Science courses and integrate emerging technologies into the curriculum.
                At Vanderbilt's Institute for Software Integrated Systems, he has worked on projects combining accessible, block-based programming with robots and mixed reality platforms for educational use.
                Gordon also has experience bringing educational robotics into K-12 classrooms and summer programs.
                He is very excited to help make STEM education more fun and engaging for students worldwide.
            </p>
        </div>
        <div class='center flex-item'>
            {% include bioheader.html name='Devin Jean' img='assets/images/devin-jean.jpeg' %}
            <p class='center'>
                Devin Jean is a new PhD student at Vanderbilt University.
                He holds a BSc from Middle Tennessee State University, majoring in mathematics and computer science.
                His work at Vanderbilt's Institute for Software Integrated Systems has primarily focused on additions to the NetsBlox project.
            </p>
        </div>
    </div>
</div>

<div class='content'>
    {% include title.html text='Undergraduate Students' %}

    
</div>