---
layout: default
---
<div class='content'>
    {% include title.html text='Faculty and Research Staff' %}

    <div class='hflex'>
        <div class='center flex-item' style='flex: 1 150px'>
            {% include bioheader.html name='Tiffany Barnes' img='assets/images/tiffany-barnes.jpeg' link='https://eliza.csc.ncsu.edu/' %}
        </div>
        <div class='center flex-item' style='flex: 1 150px'>
            {% include bioheader.html name='Brian Broll' img='assets/images/brian-broll.jpeg' link='http://brollb.github.io/about/' %}
        </div>
        <div class='center flex-item' style='flex: 1 150px'>
            {% include bioheader.html name='Akos Ledeczi' img='assets/images/akos-ledeczi.jpeg' link='https://www.isis.vanderbilt.edu/akos' %}
        </div>
    </div>
</div>

<div class='content'>
    {% include title.html text='Graduate Students' %}

    <div class='hflex'>
        <div class='center flex-item'>
            {% include bioheader.html name='Devin Jean' img='assets/images/devin-jean.jpeg' link='' %}
        </div>
        <div class='center flex-item'>
            {% include bioheader.html name='Gordon Stein' img='assets/images/gordon-stein.jpeg' link='' %}
        </div>
    </div>
</div>

<div class='content'>
    {% include title.html text='Undergraduate Students' %}

    
</div>

<div class='content'>
    {% include title.html text='High School Teachers' %}

    
</div>