---
layout: default
---
<div class='content'>
    {% include title.html text='Publications' %}
    <ol>
        <li>Shuchi Grover, Veronica Catete, Tiffany Barnes, Marnie Hill, Akos Ledeczi, Brian Broll. FIRST Principles to Design for Online, Synchronous High School CS Teacher Training and Curriculum Co-Design. Koli Calling '20: 20th Koli Calling International Conference on Computing Education Research, Koli, Finland, November 19-22, 2020.</li>
    </ol>
</div>

<div class='content'>
    {% include title.html text='Tools' %}

    <h2 class='center'>NetsBlox</h2>
    <p>
        NetsBlox is an open-source web- and cloud-based visual programming environment.
        Its visual notation is based on Scratch from MIT and uses the open source JavaScript code base of Snap! from Berkeley.
        Both of these are extremely successful tools in K12 computer science education.
        NetsBlox adds the capability of networking and enables distributed programming at a level accessible to young learners.
        This helps teach 21st century skills and makes programming more engaging.
    </p>
    <p>
        NetsBlox also enables programs running on separate computers to talk to each other.
        Hence, students can write multi-player games such as Tic Tac Toe or Battleship and other truly distributed programs.
        NetsBlox supports collaborative program editing similar to how Google Docs work.
        This opens up new ways of project-based learning, new ways of teaching, as well as enables pair programming even when students are not sitting at the same table.
        Unlimited undo/redo is also supported.
    </p>
    <p>
        NetsBlox opens up the internet with its vast array of public domain scientific and other data sources making it possible to create STEM projects such as displaying seismic activity anywhere on Earth using an interactive Google Maps background.
        Similarly, weather, air pollution, and many other data sources such as the Open Movie Database and the Sloan Digital Sky Server are available.
        We are adding new services on a regular basis.
        The same facility can help implement more complicated multi-player games by providing server-side support.
    </p>
    <div class='container'>
        <iframe src="https://netsblox.org" width="100%" height="600px" frameborder="0"></iframe>
        <div class='overlay clickable' onclick="location.href='https://netsblox.org'"></div>
    </div>

    <h2 class='center top-spaced'>NetsBlox Editor</h2>
    <p>
        If you prefer a more hands-on learning experience, there is plenty of information built into the <a href='https://editor.netsblox.org'>NetsBlox editor</a> to introduce you to some of the new features it has added to Snap!
        Drag and drop any block from the left menu into the center; you can click on any block to execute it individually, or connect them together to perform complex logic.
        One of the primary focuses of NetsBlox is the <strong>Network</strong> tab in the upper left corner, which has many advanced blocks for performing complex internet exchanges in a way that is still extremely simple.
        If you're ever unsure of how to use a block, you can right click it and select <strong>help...</strong> for more information.
    </p>
</div>

<div class='content'>
    {% include title.html text='Videos' %}

    <div class='hflex'>
        <div class='center flex-item'>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/7LH3aeHYlSg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Snap!Con 2020: <br> Build Your Own (Data) Services in NetsBlox</h3>
            <h5>Brian Broll, Corey Brady, Akos Ledeczi</h5>
            <p>
                In this workshop, we will present how data services can be created in NetsBlox.
                First, we will start with a brief introduction to NetsBlox.
                Next, we will show what kinds of data service are possible, through a few examples.
                Then, we’ll work with participants to create their own data services.
                Next, we will show how NetsBlox determines intelligent default configuration options based on the contents of the dataset (as a CSV file).
                Finally, we will explore options for customizing the data service (by editing the generated configuration), ranging from the help messages to the implementations of the individual remote procedure calls (RPCs).
            </p>
        </div>
        <div class='center flex-item'>
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/SN_DZANWJ0E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Snap!Con 2020: <br> Exploring Climate Change with Programming Projects</h3>
            <h5>Akos Ledeczi, Corey Brady, Brian Broll</h5>
            <p>
                In this short talk, we present the results of a multi-disciplinary collaboration between earth scientists, education researchers and computer scientists, including undergraduate and graduate students and faculty.
                The goal of the project was to design a set of curricular components that teach about climate change and computational thinking in a synergistic manner.
                We utilized a Snap! extension called NetsBlox.
                NetsBlox is an open source, browser-based visual programming environment and corresponding cloud-infrastructure that integrates distributed programming capabilities at a level accessible for novice programmers.
                One of the new abstractions, Remote Procedure Calls (RPCs) provide students’ programs access to online services and data sources including Google Maps, weather, NOAA climate change data, and others, as well as services created by the end-user community and hosted on the NetsBlox server.
                RPCs enable students to create engaging and motivating projects grounded in real-world applications.
            </p>
        </div>
    </div>
    <div class='hflex'>
        <div class='center flex-item'>
            <iframe src="https://player.vimeo.com/video/265612936?api=1&amp;player_id=vimeo_player_1&amp;byline=0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="100%" height="300px" frameborder="0"></iframe>
        </div>
        <div class='flex-item'>
            <h2>NetsBlox: Block-Based Distributed Programming</h2>
            <h5>Brian Broll</h5>
            <p>
                A brief introduction to NetsBlox, an open-source extension for Snap!, which demonstrates some of the powerful networking and query tools that are available to students.
                In this talk, we demonstrate how some of these tools could be used to grab images from Google Maps, complete with panning and zooming, collect and display animated solar eclipse data, read and plot historical earthquake data, and displaying images pulled from the IMDB database.
            </p>
            <div class='right'>
                <a href='https://stemforall2018.videohall.com/presentations/1088/attachment?attachment_id=68'><div class='vibrant-button'>Download Flyer</div></a>
            </div>
        </div>
    </div>
</div>