<div class='holo-content'>
    <div class='hflex'>
        <div class='flex-item' style='flex: 1 200px'>
            <h2 class='vibrant'>About CSF</h2>
            <p>Engaging young women in computer science by providing the opportunity to learn about authentic computing concepts in use in industry today.</p>
        </div>
        <div class='flex-item center'>
            <h2 class='vibrant'>Affiliations</h2>
            <a href='https://www.vanderbilt.edu/'><img src='assets/images/vandy-banner.jpeg' width='350px' class='rounded iblock padded'></a><br>
            <a href='https://www.ncsu.edu/'><img src='assets/images/nc-state-banner.jpeg' width='350px' class='rounded iblock padded'></a><br>
            <img src='assets/images/looking-glass-logo.png' width='250px' class='iblock padded'><br>
            <a href='https://www.nsf.gov/'><img src='assets/images/nsf-logo.png' width='150px' class='rounded iblock padded'></a>
        </div>
    </div>

    <p class='center'>Copyright 2020-2021 Vanderbilt University</p>
</div>

<div class='bottom-bar'></div>