<div class='holo-content'>
    <div class='hflex'>
        <div class='flex-item'>
            <h2 class='vibrant'>About CSF</h2>
            <p>CSF aims to leverage the synergies between STEM and computing education to support learning with understanding that is active and engaging. Learn more about our environment and see if we are a fit for your classroom!</p>
        </div>
        <div class='flex-item'>
            <h2 class='vibrant'>Contact Us</h2>
            <table>
                <tr>
                    <td class='vibrant'>Address</td>
                    <td>Vanderbilt University • Nashville, TN • USA</td>
                </tr>
                <tr>
                    <td class='vibrant'>Phone</td>
                    <td>(615) 343-8307</td>
                </tr>
                <tr>
                    <td class='vibrant'>Email</td>
                    <td>{% include mailto.html address='akos.ledeczi@vanderbilt.edu' %}</td>
                </tr>
            </table>
        </div>
    </div>

    <p class='center'>Copyright 2020-2021 Vanderbilt University</p>
</div>

<div class='bottom-bar'></div>