<div class='holo-content'>
    <div class='hflex'>
        <div class='flex-item'>
            <h2 class='vibrant'>About CSF</h2>
            <p>Engaging young women in computer science by providing the opportunity to learn about authentic computing concepts in use in industry today.</p>
        </div>
        <div class='flex-item'>
            <a href='https://www.vanderbilt.edu/'><img src='assets/images/vandy-banner.jpeg' width='50%' class='rounded'></a>
            <a href='https://www.ncsu.edu/'><img src='assets/images/nc-state-banner.jpeg' width='50%' class='rounded'></a>

            <h2 class='vibrant'>Contact Us</h2>
            <table>
                <tr>
                    <td class='vibrant'>Address</td>
                    <td>Vanderbilt University • Nashville, TN • USA</td>
                </tr>
                <tr>
                    <td class='vibrant'>Phone</td>
                    <td>(615) 343-8307</td>
                </tr>
                <tr>
                    <td class='vibrant'>Email</td>
                    <td>{% include mailto.html address='akos.ledeczi@vanderbilt.edu' %}</td>
                </tr>
            </table>
        </div>
    </div>

    <p class='center'>Copyright 2020-2021 Vanderbilt University</p>
</div>

<div class='bottom-bar'></div>